*{

    margin: 0;
    padding: 0;
}





html,body{

    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(10,11,21,1) 0%, rgba(27,24,113,1) 100%);
}




#web-main-container{

}


#first-main-container{

    margin: 5vw;
    background-color: transparent;
    
}

#navbar-1{

   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
  

}


#navbar-1 a{

    margin-top: 5vw;
    text-decoration: none;
    transition: all ease-in 0.4s;
    font-size: 1.4vmax;
    color: #fff;

}

#navbar-1 :hover{

    color: #56ECC3;
    font-weight: 700;
}





#navbar2-heading{

   
    font-size: 3.5vw; 
    margin-top: 7vw;
    color: #4900F2;
    
    

}    

#navbar2-heading :nth-child(1){

    margin-left: 20vw;
}







#link-of-google-doc{
    margin-top: 4vh;
    
}

#forms-container{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    

}


#form-inside{

    height: 90vh;
    width: 110vw;
}