@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #000;
    background: transparent;
}

html, body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    background-color: #85FFBD;
background-image: linear-gradient(300deg, #85FFBD 0%, #FFFB7D 100%);

}


.main{
    background-color: transparent;

}

.page1{
    
    width: 100%;
    height: auto;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}


#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index:102;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;

    margin-left: 6vw;
    transform-origin: left;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;

    margin-left: 26vw;
}

.page1 video{
    width: 60vw;
    height: auto;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 80vh;
    height: auto;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size:7vw;
    font-weight: 500;
    color: #000;

}
.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}
.page2-left{
    /* background-color: blue; */
    width: 40%;
}
.page2-right{
    /* background-color: blue; */
    width: 24%;
}
.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color: #000;
    line-height: 4vw;
}
.page2-right p{
    font-size: 28px;
    color: #000;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #EDBFFF;
    color: #fff;
    margin-top: 20px;
}

.page3{
    height: auto;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
}

#image-001{

    width:50vw;
    height: auto;
    align-items: center;

}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #fff;
    margin-left: 100px;
}
.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.page3-part1 img{
    height: 400px;
    margin-top: 160px;
}
.page3-part1 video{
    height: 400px;
    margin-top: 40px;
}
.page4{
    height: auto;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
    
}

.start-button {
    margin-top: 300px;
    padding: 15px 30px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.start-button:hover {
    background-color: #2980b9;
}



.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}


.page5{
    height: auto;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}
.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}

.box :hover{}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;

}

#button-bg{

    background-color: #2980B9;
    height: 40px;
    width: 160px;
    border-radius: 8px;
    margin: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-bg a{

    color: #000;
    text-decoration: none;

}


#fotter-main-container{

    height: 70vh;
    width: 100vw;
    background-color: #3498db;
}